/* Reset CSS */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica,Arial, sans-serif;
}
/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết
*/


/* 
1. Vị trí
2. Kích thước(width.height)
3. Màu sắc
4. Kiểu dáng(kiểu chữ,hình tròn,vuông,..)
 */
.clear{
    clear: both ;
     /* Vi dung float nen phai dung clear */
}

#main {

}

#header {
    position: fixed;
    top:0;
    right:0;
    left:0;
    height:70px;
    background-color: #2fa1b3;
    z-index: 1; 
    font-size: 20px;
    /* De header noi len */
}

#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}

#nav li{   
    position: relative;
}

#nav > li > a{
    color:#fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 69.5px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color:#000;
    background-color: #ccc;
}


#nav .subnav{
    display: none;
    min-width: 100%;
    position: absolute;
    /* top:100%;
    left:0; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 20px;
}
#header .search-btn{
    float:right; 
    padding: 0 21px;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}   
#header .search-icon{
    color: #fff;
    font-size: 25px;
    line-height: 70.5px;
    box-sizing: inherit;

}
#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 46.5%;
    /* %0% chieu ngang cua chinh no */
    background: url('/assets/img/Slider/Covid/Slider1.jpg') top center /cover no-repeat;
    /* Thu tu de viet short hand: Url/Background position/Background size  background repeat */
}

#slider .text-content{
    position: absolute;
    bottom:47px;
    color: #fff;
    /* Cac cach de can giua */
    /* Cach 1: */
        /* left:50%;
        transform: translateX(-50%); */
    /* Cach 2: */
        /* width:100% ; */
    /* Cach 3: */
        /* right:0;
        left:0; */
    text-align:left;
}
#slider .text-heading{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 25px;
    padding-bottom: 160px;
    padding-left: 50px;
    text-align: center;
}

#slider .text-description{
    font-size: 23px;
}
.Search-taskbar{
    display:inline-block;
}
#content {

}
/* #content .content-section{
    height:70px;
    width: 100px;
    background-color: #2fa1b3;
    font-size: 20px;
    De header noi len */
/* } */
.content-local-news{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
    padding: 40px 0; 
    color: #fff;
}
 #content .content-section{
    padding: 30px 0; 
    width: 1200px;
    margin-left: auto;
    margin-right:  auto;
 } 


#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style:italic;
    opacity: 0.6;
}
/* #content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
} */
.content-local-news{
    background-color: #2fa1b3;
}
#content .covid-news-list{
    margin-top: 48px;
    /* overflow: hidden; */
    /* Vi dung float nen phai dung over-flow  */
    
}


#content .covid-new{
    float: left;
    width: calc(100%/3);
    /* width: 33,3333333%; */
    text-align: center;
    font-size: 30px;

}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style:italic;
    opacity: 0.6;
}
#content .covid-new-title{
    font-size: 20px;
    text-decoration: none;
}
#content .covid-new-img{
    width: 380px;
    border-radius: 25px;
}
#content .covid-news-day{
    padding-top: 30px;
    text-align: center;
    font-size: large;
    font-style: italic;
    font-weight: 300;
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
    /* xoa dau cham dau dong  */
}
/* Tour section */
.VNE-section{
    /* background-color: #000; */
}


/* Footer section */
#footer {

}
